@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Oswald:400,500,600,700');

.banner{
    background-color: blue;
    width: 100%;
    height: 200px;
}
.banner-text{
    top:50%;
}
